#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #29d;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031
}

#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translateY(-4px);
    width: 100px
}

#nprogress .spinner {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1031
}

#nprogress .spinner-icon {
    -webkit-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite;
    border-color: #29d transparent transparent #29d;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    height: 18px;
    width: 18px
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

body,
html {
    background-color: var(--color-bg-1);
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}

.chart-wrapper .bizcharts-tooltip {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(304.17deg, rgba(253, 254, 255, .6) -6.04%, rgba(244, 247, 252, .6) 85.2%) !important;
    border-radius: 6px;
    opacity: 1 !important;
    padding: 8px !important;
    width: 180px !important
}

body[arco-theme=dark] .chart-wrapper .bizcharts-tooltip {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(304.17deg, rgba(90, 92, 95, .6) -6.04%, rgba(87, 87, 87, .6) 85.2%) !important;
    border-radius: 6px;
    box-shadow: none !important
}

.arco-card-size-default .arco-card-body {
    padding: 20px
}

.arco-card-size-small .arco-card-body {
    padding: 16px
}

h1.arco-typography,
h2.arco-typography,
h3.arco-typography,
h4.arco-typography,
h5.arco-typography,
h6.arco-typography {
    margin-bottom: 16px;
    margin-top: 0
}

.arco-descriptions-item-label {
    font-weight: 400
}

.arco-descriptions-title {
    margin-bottom: 12px
}

.message-box--yScZT {
    background-color: var(--color-bg-popup);
    border: 1px solid var(--color-border-2);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    max-height: 800px;
    width: 400px
}

.message-box--yScZT .arco-tabs-header-nav {
    border-bottom: 1px solid var(--color-border-2);
    padding: 8px 16px
}

.message-box--yScZT .arco-list-item-meta {
    align-items: flex-start
}

.message-box--yScZT .arco-list-item-meta-content {
    width: 100%
}

.message-box--yScZT .arco-tabs-content {
    padding-top: 0
}

.message-title--Xbe9p {
    display: flex;
    justify-content: space-between
}

.footer--YRRSW {
    display: flex
}

.footer-item--b_ziH {
    display: flex;
    justify-content: center;
    width: 50%
}

.footer-item--b_ziH:first-child {
    border-right: 1px solid var(--color-border-2)
}

.tb-link--N7m8U {
    opacity: 0;
    transition: opacity .1s
}

.tb-card--C4p5N:hover .tb-link--N7m8U {
    opacity: 1
}

.tb-pagination--Xf7il {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px
}

.tb-theme-footer--h24Mw {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.ac-backtop-btn--CU6Rl {
    background: var(--color-bg-5) !important;
    border: 1px solid var(--color-fill-3) !important;
    border-radius: 18px 0 0 18px !important;
    box-shadow: -1px 0 5px 0 rgba(0, 0, 0, .1)
}

.icon-button--fBT0R {
    border: 1px solid var(--color-border-2);
    font-size: 16px
}

.icon-button--fBT0R>svg {
    vertical-align: -3px
}

.block--FUL3k {
    margin-bottom: 24px
}

.title--S9Vv8 {
    font-size: 14px;
    margin: 10px 0;
    padding: 0
}

.switch-wrapper--u3b8N {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: space-between
}

.input--nbE4e {
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    display: flex;
    height: 32px;
    padding: 3px;
    width: 100%
}

.color--oUitc {
    height: 24px;
    margin-right: 10px;
    width: 100px
}

.ul--JWKFl {
    display: flex;
    list-style: none;
    padding: 0
}

.li--jh2Qe {
    height: 26px;
    width: 10%
}

.navbar--RBUHN {
    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--color-border);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: space-between
}

.left--DdYX3,
.logo--ZGrVP {
    align-items: center;
    display: flex
}

.logo--ZGrVP {
    box-sizing: border-box;
    padding-left: 20px;
    width: 200px
}

.logo-name--NOgJO {
    color: var(--color-text-1);
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px
}

.right--wvhzJ {
    display: flex;
    list-style: none;
    padding-right: 20px
}

.right--wvhzJ li {
    align-items: center;
    display: flex;
    padding: 0 8px
}

.right--wvhzJ a {
    color: var(--color-text-1);
    text-decoration: none
}

.username--_Yppy {
    cursor: pointer
}

.round--yAppV .arco-input-inner-wrapper {
    border-radius: 16px
}

.round--yAppV svg {
    font-size: 16px
}

.dropdown-icon--ZdRss {
    font-size: 16px;
    margin-right: 8px;
    vertical-align: text-bottom
}

.fixed-settings--DIwsn {
    position: fixed;
    right: 0;
    top: 280px
}

.fixed-settings--DIwsn svg {
    font-size: 18px;
    vertical-align: -4px
}

.footer--No_Lw {
    align-items: center;
    color: var(--color-text-2);
    display: flex;
    height: 40px;
    justify-content: center;
    text-align: center
}

.layout--NILiW {
    height: 100%;
    width: 100%
}

.layout-navbar--NTVHG {
    height: 60px;
    left: 0;
    min-width: 1100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.layout-navbar-hidden--fO9AI {
    height: 0
}

.layout-sider--G4cYl {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99
}

.layout-sider--G4cYl ::-webkit-scrollbar {
    height: 4px;
    width: 12px
}

.layout-sider--G4cYl ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--color-text-4);
    border: 4px solid transparent;
    border-radius: 7px
}

.layout-sider--G4cYl ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text-3)
}

.layout-sider--G4cYl:after {
    background-color: var(--color-border);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px
}

.layout-sider--G4cYl>.arco-layout-sider-children {
    overflow-y: hidden
}

.layout-sider--G4cYl .collapse-btn--FJHnQ {
    align-items: center;
    background-color: var(--color-fill-1);
    border-radius: 2px;
    bottom: 12px;
    color: var(--color-text-3);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    right: 12px;
    width: 24px
}

.layout-sider--G4cYl .collapse-btn--FJHnQ:hover {
    background-color: var(--color-fill-3)
}

.menu-wrapper--e9ooU {
    height: 100%;
    overflow: auto
}

.menu-wrapper--e9ooU .arco-menu-item-inner>a:after,
.menu-wrapper--e9ooU .arco-menu-item>a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.menu-wrapper--e9ooU .arco-menu-inline-header {
    font-weight: 500
}

.icon--xP5pP {
    font-size: 18px;
    vertical-align: text-bottom
}

.icon-empty--ILNVB {
    display: inline-block;
    height: 18px;
    width: 12px
}

.layout-content--Fd7YS {
    background-color: var(--color-fill-2);
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 1100px;
    transition: padding-left .2s
}

.layout-content-wrapper--xX3sP {
    padding: 16px 20px 0
}

.layout-breadcrumb--aBouq {
    margin-bottom: 16px
}

.spin--lCfOT {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
    width: 100%
}

.container--xaFju {
    display: flex;
    height: 100vh
}

.container--xaFju .banner--kAPEp {
    background: linear-gradient(163.85deg, #1d2129, #00308f);
    width: 550px
}

.container--xaFju .content--qwfBF {
    flex: 1 1;
    padding-bottom: 40px;
    position: relative
}

.container--xaFju .footer--OilZp {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%
}

.logo--QDpOb {
    align-items: center;
    display: inline-flex;
    left: 22px;
    position: fixed;
    top: 24px;
    z-index: 1
}

.logo-text--AWLLF {
    color: var(--color-fill-1);
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px
}

.banner--kAPEp {
    align-items: center;
    display: flex;
    justify-content: center
}

.banner-inner--BhB8s {
    flex: 1 1;
    height: 100%
}

.content--qwfBF {
    align-items: center;
    display: flex;
    justify-content: center
}

.carousel--2g1KT {
    height: 100%
}

.carousel-item--yCEQ2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center
}

.carousel-title--LVtv6 {
    color: var(--color-fill-1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px
}

.carousel-sub-title--hAIMz {
    color: var(--color-text-3);
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px
}

.carousel-image--e_njw {
    margin-top: 30px;
    width: 320px
}

.login-form-wrapper--cj8Dz {
    width: 320px
}

.login-form-title--ymbB6 {
    color: var(--color-text-1);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px
}

.login-form-sub-title--cviSF {
    color: var(--color-text-3);
    font-size: 16px;
    line-height: 24px
}

.login-form-error-msg--_b9HN {
    color: rgb(var(--red-6));
    height: 32px;
    line-height: 32px
}

.login-form-password-actions--stiRG {
    display: flex;
    justify-content: space-between
}

.login-form-register-btn--Yy8Vt {
    color: var(--color-text-3) !important
}

/*# sourceMappingURL=main.185cad5b.css.map*/